name: build

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel, ubuntu-latest, windows-latest] # macos-15-intel, ubuntu-24.04, windows-2025
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        exclude:
          - os: macos-15-intel
            python-version: '3.10'
          - os: macos-15-intel
            python-version: '3.11'
          - os: macos-15-intel
            python-version: '3.13'
          - os: macos-15-intel
            python-version: '3.14'
          - os: windows-latest
            python-version: '3.10'
          - os: windows-latest
            python-version: '3.11'
          - os: windows-latest
            python-version: '3.13'
          - os: windows-latest
            python-version: '3.14'

    steps:
    - uses: actions/checkout@v5.0.0
      with:
        lfs: true # 下载Git LFS缓存.
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up FFmpeg
      uses: federicocarboni/setup-ffmpeg@v3.1
      id: setup-ffmpeg
    - name: Unix-like Before Install
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
        pip install coverage httpx pytest pytest-asyncio pytest-httpserver ruff
      if: runner.os != 'Windows'
    - name: Windows Before Install
      run: |
        py -m pip install --upgrade pip
        py -m pip install --upgrade build
        pip install coverage httpx pytest pytest-asyncio pytest-httpserver ruff
      if: runner.os == 'Windows'
    - name: Unix-like Install
      run: |
        python -m build
        pip install dist/*.whl
      if: runner.os != 'Windows'
    - name: Windows Install
      run: pip install .
      if: runner.os == 'Windows'
    - name: Lint with Ruff
      run: ruff check .
    - name: Test with pytest and generate coverage reports
      run: coverage run -m pytest
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5.5.1
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
