name: package

on:
  release:
    types: [ 'published' ]

permissions:
  contents: write

jobs:
  deploy:

    runs-on: ubuntu-latest # ubuntu-24.04

    steps:
    - uses: actions/checkout@v6.0.2
      with:
        lfs: false # 不下载Git LFS缓存.
    - name: Set up Python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
    - name: Build package
      run: python -m build
    - name: Publish package to Releases
      uses: softprops/action-gh-release@v2.5.0
      with:
        files: |
          dist/*.whl
